<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div><i class="fa-solid fa-at"></i>Wonderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>

        </div>
    </div>
</footer>