<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Razorpay Web-Integration</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<link rel="stylesheet" href="style.css">
	
</head>

<body>
	<hr/>
	
		<div style="display:inline-block">
			<img src="https://cdn.pixabay.com/photo/2014/04/03/10/55/t-shirt-311732_960_720.png" alt="" width="100px" height="100px">
			<p>Shirt</p>
			<p><b>Amount:- Rs. 01</b></p>
			<form class="pay-form">
				<input type="hidden" name="name" value="Shirt">
				<input type="hidden" name="amount" value="01">
				<input type="hidden" name="description" value="Shirt Buying">
				<input type="submit" value="Pay Now">
			</form>
		</div>




		<div style="display:inline-block">
			<img src="https://cdn.pixabay.com/photo/2013/07/12/18/20/shoes-153310_960_720.png" alt="" width="100px" height="100px">
			<p>Shoes</p>
			<p><b>Amount:- Rs. 10</b></p>
			<form class="pay-form">
				<input type="hidden" name="name" value="Shoes">
				<input type="hidden" name="amount" value="10">
				<input type="hidden" name="description" value="Shoes Buying">
				<input type="submit" value="Pay Now">
			</form>
		</div>
	
</body>

</html>

<!--Inside index.html -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

$(document).ready(function(){
	$('.pay-form').submit(function(e){
		e.preventDefault();

		var formData = $(this).serialize();

		$.ajax({
			url:"/createOrder",
			type:"POST",
			data: formData,
			success:function(res){
				if(res.success){
					var options = {
						"key": ""+res.key_id+"",
						"amount": ""+res.amount+"",
						"currency": "INR",
						"name": ""+res.product_name+"",
						"description": ""+res.description+"",
						"image": "https://www.the-sun.com/wp-content/uploads/sites/6/2022/11/da5053e2-ebcc-42af-80f4-2433d01697ed.jpg?strip=all&quality=100&w=1920&h=1440&crop=1",
						"order_id": ""+res.order_id+"",
						"handler": function (response){
							alert("Payment Succeeded");
							// window.open("/","_self")
						},
						"prefill": {
							"contact":""+res.contact+"",
							"name": ""+res.name+"",
							"email": ""+res.email+""
						},
						"notes" : {
							"description":""+res.description+""
						},
						"theme": {
							"color": "#2300a3"
						}
					};
					var razorpayObject = new Razorpay(options);
					razorpayObject.on('payment.failed', function (response){
							alert("Payment Failed");
					});
					razorpayObject.open();
				}
				else{
					alert(res.msg);
				}
			}
		})

	});
});

</script>
